<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, inital-scale=1">
        <title>{{name}} - KISS</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <a href="index.html"> < TO LIST </a>
        <h1>{{name}}</h1>
        <h3>Ingredients</h3>
        <hr/>
        <table>
            <tr>
                <th>Ingredient</th>
                <th colspan=2>Quantity</th>
            </tr>
            {{#ingredients}}
            <tr>
                <td>{{name}}</td>
                <td>{{quantity}}</td>
                <td>{{unit}}</td>
            </tr>
            {{/ingredients}}
        </table>

        <h3>Steps</h3>
        <hr/>
        <ol>
            {{#steps}}
            <li>{{description}}</li>
            {{/steps}}
        </ol>

        <h3>Notes</h3>
        <hr/>
        <ul>
            {{#notes}}
            <li>{{.}}</li>
            {{/notes}}
        </ul>

        {{#macros}}
        <h3>Macros</h3>
        <hr/>
        <p>Calories: {{calories}}</p>
        <p>Fat: {{fat}}</p>
        <p>Carbs: {{carbs}}</p>
        <p>Proteins: {{proteins}}</p>
        {{/macros}}
    </body>
</html>